extends ../layout

block content
    .row
        .col-md-12
            h1
                | Management
            hr
    br
    .row.justify-content-between
        .col-md-2
            a.btn.btn-secondary(href="/users/register")
                i.fa.fa-plus
                //|  Register
        .col-md-3
            form(method='GET' action='/users/')
                .input-group
                    input.form-control(type="text",id="q",name="q",placeholder="Search by username")
                    span.input-group-btn
                        button.btn.btn-secondary(type="submit")
                            i.fa.fa-search                                
    br
    .row
        .col-md-12
            .table-responsive
                table.table.table-striped
                    thead
                        tr
                            th
                                | #
                            th
                                | Username
                            th
                                | Email
                            th
                                | Phone
                            th
                                | Sides
                            th
                                | Root
                            th
                                | 
                    tbody
                        each user in users
                            tr
                                td

                                td                               
                                    | !{ user.username}
                                td
                                    | !{ user.email}
                                td
                                    | !{ user.phone}
                                td
                                    | !{ user.sides}
                                td
                                    | !{ user.isRoot}                                
                                td
                                    a(href="/users/"+ user.id + "/permissions")  Edit Permission 